@import "tailwindcss";

:root {
  /* Deep Navy Black */
  --background: #070A0F;
  /* White */
  --foreground: #ffffff;

  /* Mint */
  --primary: #2DD4BF;
  /* Sky Blue */
  --secondary: #60A5FA;
  /* Soft Purple */
  --accent: #A78BFA;
  /* Danger */
  --danger: #FB7185;

  --muted: #1e293b;
  /* slatel-800 for muted backgrounds */
  --muted-foreground: #cbd5e1;
  /* slate-300 for subtext */

  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --font-sans: var(--font-outfit);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
  -webkit-font-smoothing: antialiased;
}